In [19]:
import pandas as pd
import numpy as np


mydataset = {'Cars':["BMW","Volvo","Ford"],'Passings':[3,7,2]}

myvar = pd.DataFrame(mydataset)

print(myvar)

    Cars  Passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [21]:
a = [1,5,7,8]
myvar=pd.Series(a)
print(myvar)

0    1
1    5
2    7
3    8
dtype: int64

In [24]:
a = [1,"Anjing"]
myvar=pd.Series(a)
print(myvar)

0         1
1    Anjing
dtype: object

In [26]:
a = [1,5,7]
myvar=pd.Series(a, index = ["x","y","z"])
print(myvar)

x    1
y    5
z    7
dtype: int64

In [33]:
a = [1,5,7]
myvar=pd.Series(a, index = [1,2,3])
print(myvar)

1    1
2    5
3    7
dtype: int64

In [37]:
Calories = {"day1":420,"day2":380,"day3":390}
myvar =pd.Series(Calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [38]:
Calories = {
    "Calories":[420,380,390],
    "Duration":[50,40,45]}
myvar =pd.DataFrame(Calories)
print(myvar)

   Calories  Duration
0       420        50
1       380        40
2       390        45

In [40]:
Calories = {
    "Calories":[420,380,390],
    "Duration":[50,40,45]}
myvar =pd.DataFrame(Calories)
print(myvar.loc[1])

Calories    380
Duration     40
Name: 1, dtype: int64

In [44]:
Calories = {
    "Calories":[420,380,390],
    "Duration":[50,40,45]}
df =pd.DataFrame(Calories, index =["day1","day2","day3"])
print(df.loc["day2"])
print(df)

Calories    380
Duration     40
Name: day2, dtype: int64
      Calories  Duration
day1       420        50
day2       380        40
day3       390        45

In [47]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_test.csv")

In [49]:
df = pd.read_csv("california_housing_test.csv")

In [61]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [56]:
print(df.head(10))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0
5    -119.56     36.51                37.0       1018.0           213.0
6    -121.43     38.63                43.0       1009.0           225.0
7    -120.65     35.48                19.0       2310.0           471.0
8    -122.84     38.40                15.0       3080.0           617.0
9    -118.02     34.08                31.0       2402.0           632.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0
5       663.0       204.0         1.6635             67000.0
6       604.0       218.0         1.6641             67000.0
7      1341.0       441.0         3.2250            166900.0
8      1446.0       599.0         3.6696            194400.0
9      2830.0       603.0         2.3333            164200.0

In [57]:
print(df.tail())

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

In [58]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2990,-118.23,34.09,49.0,1638.0,456.0,1500.0,430.0,2.6923,150000.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2994,-117.93,33.86,35.0,931.0,181.0,516.0,174.0,5.5867,182500.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [63]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB